@include editor-only {
    // ----
    // Post title style
    // ----
    .editor-post-title {

        @include heading(h1);

        max-width: var(--theme--preset--align-wide);
        margin-bottom: var(--theme--preset--spacing--300);
    }


    // ----
    // Disable links in ACF blocks
    // The template block must have a ".block" class. Example : <div class="block block--my-custom-block">
    // ----
    .acf-block-preview {
        > .block {
            a,
            button {
                pointer-events: none;
            }
        }
    }
}

#{context-selector(".blocks-container", ".is-root-container")} {
    // ----
    // Gutenberg blocks container
    // ----
}
