body {
    // Align - preset
    --theme--preset--align-default: 700px;
    --theme--preset--align-wide: 1140px;
    --theme--preset--align-full: 100%;

    // Spacings
    --theme--spacing--block-gap: var(--theme--preset--spacing--30, 1.5rem);
    --theme--spacing--gutter: var(--theme--preset--spacing--20, 1rem);

    // Fonts - preset
    --theme--font-family--primary: var(--wp--preset--font-family--primary);
    --theme--font-family--secondary: var(--wp--preset--font-family--secondary);

    // Colors - preset
    --theme--preset--color--dark: #000;
    --theme--preset--color--light: #fff;
    --theme--preset--color--yellow: #ffe600;
    --theme--preset--color--grey-100: #eee;
    --theme--preset--color--grey-200: #ccc;
    --theme--preset--color--grey-300: #aaa;
    --theme--preset--color--grey-400: #999;
    --theme--preset--color--grey-700: #777;
    --theme--preset--color--contrast: var(--theme--preset--color--dark, #000);
    --theme--preset--color--base: var(--theme--preset--color--light, #fff);
    --theme--preset--color--primary: var(--theme--preset--color--yellow, #ffe600);
    --theme--preset--color--secondary: var(--theme--preset--color--grey-700, #777);

    &.dark-mode {
        --theme--preset--color--contrast: var(--theme--preset--color--light, #fff);
        --theme--preset--color--base: var(--theme--preset--color--dark, #000);
    }

    // Body
    --theme--body--color: var(--theme--preset--color--contrast);
    --theme--body--background: var(--theme--preset--color--base);

    // Spacings - preset
    --theme--preset--spacing--10: .5rem;
    --theme--preset--spacing--20: 1rem;
    --theme--preset--spacing--30: #{fluid-size(16px, 24px)};
    --theme--preset--spacing--40: #{fluid-size(24px, 32px)};
    --theme--preset--spacing--50: #{fluid-size(32px, 40px)};
    --theme--preset--spacing--60: #{fluid-size(40px, 48px)};
    --theme--preset--spacing--70: #{fluid-size(48px, 64px)};
    --theme--preset--spacing--80: #{fluid-size(64px, 80px)};

    // Font sizes - preset
    --theme--preset--font-size--200: 14px;
    --theme--preset--font-size--300: 16px;
    --theme--preset--font-size--400: 24px;
    --theme--preset--font-size--500: #{fluid-size(32px, 46px)};
    --theme--preset--font-size--600: #{fluid-size(46px, 52px)};
    --theme--preset--font-size--700: #{fluid-size(52px, 64px)};
    --theme--preset--font-size--800: #{fluid-size(64px, 76px)};
    --theme--preset--font-size--900: #{fluid-size(76px, 92px)};
    --theme--preset--font-size--default: var(--theme--preset--font-size--300);

    // Line height - preset
    --theme--preset--line-height--100: 1.1;
    --theme--preset--line-height--200: 1.2;
    --theme--preset--line-height--300: 1.25;
    --theme--preset--line-height--400: 1.5;
    --theme--preset--line-height--500: 1.75;
    --theme--preset--line-height--default: var(--theme--preset--line-height--400);

    // Headings
    --theme--heading--font-family: var(--wp--preset--font-family--secondary);
    --theme--heading--line-height: var(--theme--preset--line-height--400);
    --theme--heading--font-weight: 700;
    --theme--heading--color: var(--theme--preset--color--contrast);

    // Headings - H1
    --theme--heading--h1--font-size: var(--theme--preset--font-size--800);
    --theme--heading--h1--line-height: var(--theme--preset--line-height--300);

    // Headings - H2
    --theme--heading--h2--font-size: var(--theme--preset--font-size--700);
    --theme--heading--h2--line-height: var(--theme--preset--line-height--300);

    // Headings - H3
    --theme--heading--h3--font-size: var(--theme--preset--font-size--600);
    --theme--heading--h3--line-height: var(--theme--preset--line-height--300);

    // Headings - H4
    --theme--heading--h4--font-size: var(--theme--preset--font-size--500);
    --theme--heading--h4--line-height: var(--theme--preset--line-height--300);

    // Headings - H5
    --theme--heading--h5--font-size: var(--theme--preset--font-size--400);
    --theme--heading--h5--line-height: var(--theme--preset--line-height--300);

    // Headings - H6
    --theme--heading--h6--font-size: var(--theme--preset--font-size--300);
    --theme--heading--h6--line-height: var(--theme--preset--line-height--300);

    // Paragraphs
    --theme--paragraph--font-size-default: var(--theme--preset--font-size--300);
    --theme--paragraph--line-height-default: var(--theme--preset--line-height--300);

    // Paragraphs - Small
    --theme--paragraph--small--font-size: var(--theme--preset--font-size--200);
    --theme--paragraph--small--line-height: var(--theme--preset--line-height--200);

    // Paragraphs - Large
    --theme--paragraph--large--font-size: var(--theme--preset--font-size--400);
    --theme--paragraph--large--line-height: var(--theme--preset--line-height--400);

    // Paragraphs - Huge
    --theme--paragraph--huge--font-size: var(--theme--preset--font-size--500);
    --theme--paragraph--huge--line-height: var(--theme--preset--line-height--500);

    // Buttons
    --theme--button--font-family: var(--theme--preset--font-family--primary);
    --theme--button--font-size: var(--theme--preset--font-size--300);
    --theme--button--font-weight: 400;
    --theme--button--color: var(--theme--preset--color--dark);
    --theme--button--background: var(--theme--preset--color--primary);
    --theme--button--border-color: transparent;
    --theme--button--border-width: 0px;
    --theme--button--border-style: solid;
    --theme--button--radius: 0px;
    --theme--button--color-hover: var(--theme--preset--color--base);
    --theme--button--background-hover: var(--theme--preset--color--contrast);
    --theme--button--border-color-hover: transparent;
    --theme--button--padding: var(--theme--preset--spacing--20) var(--theme--preset--spacing--30);

    // Forms
    --theme--forms--font-family: var(--theme--preset--font-family--primary);
    --theme--forms--color: var(--theme--preset--color--text);
    --theme--forms--background: var(--theme--preset--color--background);
    --theme--forms--border-color: var(--theme--preset--color--border);
    --theme--forms--border-color--hover: var(--theme--preset--color--border--hover);
    --theme--forms--placeholder--color: var(--theme--preset--color--placeholder);
    --theme--forms--label--font-weight: 700;

    // Admin bar
    --wp-admin-bar-height: var(--wp-admin--admin-bar--height, 0rem);

    // Scroll offset
    --theme--scroll-offset: calc(var(--theme--preset--spacing--30, 1.5rem) + var(--wp-admin-bar-height));

    // Animation speeds
    --theme--speed: 1s;


    @include reduced-motion {
        --theme--speed: 0s;
    }

    @include breakpoints(sm, max) {
        .admin-bar {
            --wp-admin-bar-height: 32px;
        }
    }

    @include breakpoints(sm) {
        /*
         * Admin bar
         */
        .admin-bar {
            --wp-admin-bar-height: 32px;
        }
    }
}
