.wp-block-audio {
    audio {
        &::-webkit-media-controls-panel {
            background-color: var(--theme--preset--color--base);
        }

        &:focus {
            outline: 2px solid var(--theme--preset--color--contrast);
            outline-offset: 5px;
        }
    }
}
