.wp-block {
    // ----
    // container
    // ----
    // &-buttons {
    // }

    // ----
    // button
    // ----
    &-button {
        &.is-style-border .wp-block-button__link {
            --theme--buttons--color: var(--theme--preset--color--contrast);
            --theme--buttons--background: transparent;
            --theme--buttons--border-color: currentColor;
            --theme--buttons--border-width: 2px;
            --theme--buttons--border-style: solid;
            --theme--buttons--radius: 0px;
            --theme--buttons--color-hover: var(--theme--preset--color--contrast);
            --theme--buttons--background-hover: var(--theme--preset--color--primary);
            --theme--buttons--border-color-hover: var(--theme--preset--color--primary);
        }

        &.has-custom-font-size .wp-block-button__link {
            font-size: inherit;
        }

        &.is-style-external .wp-block-button__link {
            @include btn-block-icon("external", .8em, after);
        }
    }
}
